<main class="flex flex-col bg-backGround text-text py-16" role="main">
  <header class="mx-auto max-w-7xl p-4">
    <section class="flex flex-col-reverse lg:flex-row items-center gap-8">

      <article class="flex-1 intro-text">
        <img src="assets/tripweaver.png" alt="Logo TripWeaver" width="500" />

        <dl class="mt-6 space-y-5">
          <dd class="text-lg">
            Imaginez, planifiez et construisez vos voyages étape par étape avec TripWeaver.
          </dd>

          <dd class="text-lg">
            Créez des itinéraires personnalisés sur une carte interactive, ajoutez vos hébergements,
            vos activités et vos budgets.
          </dd>

          <dd class="text-lg">
            Centralisez photos, lieux et dépenses pour transformer chaque voyage
            en une expérience immersive.
          </dd>
        </dl>
      </article>

      <figure class="flex-2">
        <img
          src="/assets/logo3.png"
          alt="Logo TripWeaver"
          class="rounded-lg w-full max-w-md mx-auto" />
      </figure>

    </section>
  </header>
</main>
