.blue-button {
  background-color: var(--sky-blue-button);
  transition: background-color 0.3s ease-in-out;
  color: #027c83;
  align-items: center;
  border-radius: 5px;
}

.blue-button:hover {
  background-color: #027c83;
  color: white;
  border-color: #027c83;
}
